:host {
  background-color: var(--primary-black);
  
  ion-buttons {
    ion-menu-button {
      color: var(--white);
    }
  }

  ion-content {
    --ion-background-color: var(--primary-black);
  }

  ion-toolbar {
    padding: 8px;
    --border-color: var(--primary-black);
    ion-title {
      text-align: center;
      margin-right: 16px;
    }
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    align-items: center;
  }

  .mh {
    background-color: var(--primary-black);
    width: 100%;
    height: 100%;
    &__new-button {
      --background: var(--white);
      --background-activated:  var(--secondary-red);
      --border-radius: 100px;
      --box-shadow: 0px 1px 2px 0px var(--primary-black),
        0px 1px 3px 1px var(--primary-black);
      --color: var(--primary-black);
    }
  }
}