.modal {
  --max-height: 165px;
  --max-width: 85%;

  &::part(content) {
    border: 1px solid var(--white);
    background-color: var(--primary-black);
    border-radius: 4px;
  }
}

.modal-date {
  --background: transparent;
  --max-width: 85%;
  overflow: clip;

  &::part(content) {
    background-color: var(--white);
    border-radius: 8px;
  }
}
