:host {
  background-color: var(--primary-black);
  ion-content {
    --ion-background-color: var(--primary-black);
  }

  .log {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 0 16px;
    &__form {
      display: block;
      width: 100%;
    }
    &__img {
      display: flex;
      justify-content: center;
      width: 100%;
      img {
        width: 140px;
        height: 140px;
        border-radius: 8px;
      }
    }
    &__input {
      &__item {
        padding-top: 16px;
        padding: 8px 12px 8px 12px;
        height: 100%;
        box-sizing: border-box;
        color: var(--white);

        --background: var(--grey);
        --inner-border-width: 0;
        --highlight-background:  var(--secondary-red);

        &.username{
            margin-top: 40px;
        }

        &__eyes{
          width: 40px;
          height: 40px;
          background-color:transparent;
          .eye{
            font-size: 22px;
            color: var(--white);
            position: relative;
            z-index: 99;
          }
        }
      }

      ion-item::part(native) {
        padding-left: 13px;
        border-radius: 8px;
      }

      ion-textarea {
        height: 128px;
      }

      ion-textarea::part(native) {
        height: 128px;
      }

      ion-input {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }


      &__label {
        color: var(--white);
        padding-left: 12px;
        display: flex;
        align-items: flex-end;
        gap: 6px;
      }
    }

    &__button {
      flex-direction: column;
      display: flex;
      margin-top: 25px;
      margin-bottom: 16px;
      padding: 0 20px;

      ion-button {
        --background-activated: var(--ion-color-red);
        --background: var(--secondary-red);
        --border-radius: 12px;

        border-radius: 8px;
        color: var(--white);
        height: 48px;
        min-width: 116px;
      }

      &__create {
        margin-top: 8px;
        text-align: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        color: var(--white);
      }
    }
  }
}