:host {
  background-color: var(--primary-black);

  ion-content {
    --ion-background-color: var(--primary-black);
  }

  ion-toolbar {
    margin-top: 8px;
    --border-color: var(--primary-black);
  }

  ion-buttons {
    ion-back-button {
      margin-left: 8px;
      color: var(--white);
    }
  }

  .md {
    &__header {
      &__end-icons {
        color: var(--white);
        font-size: 22px;
        .delete {
          margin-right: 12px;
        }
        .edit {
          margin-right: 8px;
        }
      }
    }
    &__body {
      margin-top: 8px;
      &__title {
        color: var(--white);
        margin: 8px 0 0 16px;
        font-size: 24px;
      }
      &__image {
        border-radius: 8px;
        margin: 8px 16px 8px 16px;
        height: 300px;
        img {
          border-radius: 8px;
          max-height: 300px;
          width: 100%;
          object-fit: cover;
        }
      }
      &__rate-and-premiere {
        width: 100%;
        justify-content: space-between;
        padding: 8px 16px 8px 16px;
        display: inline-flex;
        position: relative;

        &__rate {
          color: var(--white);
        }

        &__premiere {
          position: absolute;
          right: 16px;
          color: var(--white);
        }
      }

      &__description {
        width: auto;
        margin: 8px 16px 8px 16px;
        color: var(--white);
      }
    }
  }
}

