:host {
  background-color: var(--primary-black);
  ion-content {
    --ion-background-color: var(--primary-black);
  }


  ion-toolbar {
    --border-color: var(--primary-black);
  }

  ion-buttons {
    ion-back-button {
      margin-left: 8px;
      color: var(--white);
    }
  }



  .cl {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px 0 16px;
    &__input {
      border-radius: 8px;
      &__item {
        padding: 8px 12px 8px 12px;
        height: 100%;
        box-sizing: border-box;
        color: var(--white);

        --background: var(--grey);
        --inner-border-width: 0;
        --highlight-background:  var(--secondary-red);

        input {
          display: none;
        }
      }

      ion-item::part(native) {
        padding-left: 13px;
        border-radius: 8px;
      }

      ion-textarea {
        height: 128px;
      }

      ion-textarea::part(native) {
        height: 128px;
      }

      ion-input {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      padding-top: 16px;
      &__label {
        color: var(--white);
        padding-left: 12px;
        display: flex;
        align-items: flex-end;
        gap: 6px;
      }
    }

    &__title {
      color: var(--white);
      text-align: center;
      font-size: 24px;
    }
    &__form {
      margin-top: 12px;
      display: block;
      width: 100%;
    }
    &__img {
      margin-bottom: 12px;
      display: flex;
      justify-content: center;
      width: 100%;
      img {
        width: 140px;
        height: 140px;
        border-radius: 8px;
      }
    }

    &__loader {
      width: 100%;
      height: 82px;
      display: grid;
      justify-content: center;
      align-items: center;
      background-color: var(--primary-black);

      ion-label {
        color: var(--white);
      }
      ion-spinner {
        align-items: center;
        color: var(--white);
        margin-left: 40px;
      }
    }

    &__button {
      flex-direction: column;
      display: flex;
      margin-top: 12px;
      margin-bottom: 16px;
      padding: 0 20px;

      ion-button {
        --background-activated: var(--ion-color-red);
        --background:  var(--secondary-red);
        --border-radius: 12px;

        border-radius: 8px;
        color: var(--white);
        height: 48px;
        min-width: 116px;
      }

      &__create {
        margin-top: 8px;
        text-align: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 600;
        color: var(--white);
      }
    }
  }

  .configured-label{
    width: 230px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    ion-label{
      color: var(--green);
      margin-left: 12px;
    }
  }
}