:host {
  justify-content: center;

  .tba {
    &__body {
      text-align: center;

      &__title{
        font-weight: 600;
        ion-label{
          color: var(--secondary-red);
        }
      }

      &__description {
        margin-top: 16px;
        padding: 0 16px;

        ion-text {
          color: var(--white);
        }
      }
    }

    &__actions {
      display: flex;
      margin-top: 24px;
      border-top: 1px solid var(--white);
      &__cancel{
        flex-basis: 50%;
        text-decoration: none;
        color:var(--white);
      }
      &__confirm{
        flex-basis: 50%;
        text-decoration: none;
        color: red;
      }
    }
  }

}