:host {
  background-color: black;

  ion-content {
    --ion-background-color: black;
  }

  ion-toolbar {
    --border-color: black;
  }

  ion-buttons {
    ion-back-button {
      margin-left: 8px;
      color: var(--white);
    }
  }


  .reg {
    display: flex;
    padding: 0 16px 0 16px;
    margin-top: 16px;
    &__title{
      color: var(--white);
      margin: 8px 0 0 16px;
      font-size: 24px;
    }
    &__form {
      display: block;
      width: 100%;
    }
    &__input {
      padding-top: 16px;
      &__item {
        padding: 8px 12px 8px 12px;
        height: 100%;
        box-sizing: border-box;
        color: var(--white);

        --background: var(--grey);
        --inner-border-width: 0;
        --highlight-background: red;

        &__eyes{
          width: 40px;
          height: 40px;
          background-color: transparent;
          .eye{
            font-size: 22px;
            color: var( --white);
            position: relative;
            z-index: 99;
          }
        }
      }

      ion-item::part(native) {
        padding-left: 13px;
        border-radius: 8px;
      }

      ion-input {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }


      &__label {
        color: var( --white);
        padding-left: 12px;
        display: flex;
        align-items: flex-end;
        gap: 6px;
      }

      
    }

    &__button {
      flex-direction: column;
      display: flex;
      margin-top: 25px;
      margin-bottom: 16px;
      padding: 0 20px;

      ion-button {
        --background-activated: var(--ion-color-red);
        --background: var(--secondary-red);
        --border-radius: 12px;

        border-radius: 8px;
        color: var( --white);
        height: 48px;
        min-width: 116px;
      }

    }
  }
}