:host {
  .mov {
    background-color: rgb(161, 158, 158);
    display: flex;
    border-radius: 8px;
    border: 1px solid var(--primary-black);
    margin: 10px 10.5px 0;
    &.last {
      margin-bottom: 25px !important;
    }
    &__content{
      width:100%;
      align-items: center;
      position: relative;
    }

    &__img {
      min-width: 170px;
      border-radius: 8px;
      align-items: flex-start;
      position: relative;
      z-index: 0;

      img {
        display: block;
        width: 170px;
        height: 240px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        margin-left: 0;
      }

      
    }

    &__title_and_description {
        display: inline-grid;
        text-align: center;
        width: 100%;
        justify-content: center;

      &__title {
        margin:8px 16px 8px 16px;
        font-size: 22px;
        font-weight: 400;
      }
      &__description {
        width:auto;
        margin:0 12px 0 12px;
        font-family: var(--ux-font-lato);
        font-size: 16px;
      }
    }
    &__rate{
      margin:8px 0 0 8px;
      position:absolute;
      bottom: 1px;
      &__text{
        font-family: var(--ux-font-lato);
        font-size: 16px;
      }
    }
  }
}