:host {
  background-color: black;

  ion-content {
    --ion-background-color: black;
  }

  ion-toolbar {
    margin-top: 8px;
    --border-color: black;
    ion-title {
      text-align: center;
      margin-right: 16px;
    }
  }

  ion-buttons {
    ion-back-button {
      margin-left: 8px;
      color: white;
    }
  }

  .me {
    &__header-title {
      font-size: 18px;
      font-weight: 600;
      color: white;
      align-items: center;
    }
    &__input {
      padding-top: 16px;
      &__item {
        padding: 8px 12px 8px 12px;
        height: 100%;
        box-sizing: border-box;
        color: white;

        --background: grey;
        --inner-border-width: 0;
        --highlight-background: red;

      }

      ion-item::part(native) {
        padding-left: 13px;
        border-radius: 8px;
      }

      ion-textarea {
        height: 128px;
      }

      ion-textarea::part(native) {
        height: 128px;
      }

      ion-input {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &__label {
        color: white;
        padding-left: 12px;
        display: flex;
        align-items: flex-end;
        gap: 6px;
      }
    }

    &__rate {
      padding-top: 24px;
      width: 100%;
      text-align: center;
      padding-left: 16px;
      ion-text {
        color: white;
      }
    }

    &__button {
      flex-direction: column;
      display: flex;
      margin-top: 25px;
      margin-bottom: 16px;
      padding: 0 20px;
      ion-button {
        --background: var(--ion-color-red);
        --border-radius: 12px;
        
        border-radius: 8px;
        color: white;
        height: 48px;
        min-width: 116px;
      }
    }
  }
}
:host {
  background-color: var(--primary-black);

  ion-content {
    --ion-background-color: var(--primary-black);
  }

  ion-toolbar {
    margin-top: 8px;
    --border-color: var(--primary-black);
    ion-title {
      text-align: center;
      margin-right: 16px;
    }
  }

  ion-buttons {
    ion-back-button {
      margin-left: 8px;
      color: var(--white);
    }
  }

  .me {
    &__header-title {
      font-size: 18px;
      font-weight: 600;
      color:  var(--white);
      align-items: center;
    }
    &__input {
      padding-top: 16px;
      &__item {
        padding: 8px 12px 8px 12px;
        height: 100%;
        box-sizing: border-box;
        color:  var(--white);

        --background: var(--grey);
        --inner-border-width: 0;
        --highlight-background: var(--secondary-red);

      }

      ion-item::part(native) {
        padding-left: 13px;
        border-radius: 8px;
      }

      ion-textarea {
        height: 128px;
      }

      ion-textarea::part(native) {
        height: 128px;
      }

      ion-input {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      &__label {
        color:  var(--white);
        padding-left: 12px;
        display: flex;
        align-items: flex-end;
        gap: 6px;
      }
    }

    &__rate {
      padding-top: 24px;
      width: 100%;
      text-align: center;
      padding-left: 16px;
      ion-text {
        color:  var(--white);
      }
    }

    &__button {
      flex-direction: column;
      display: flex;
      margin-top: 25px;
      margin-bottom: 16px;
      padding: 0 20px;
      ion-button {
        --background-activated: var(--ion-color-red);
        --background: var(--secondary-red);
        --border-radius: 12px;
        
        border-radius: 8px;
        color:  var(--white);
        height: 48px;
        min-width: 116px;
      }
    }
  }
}